@page
@model PRN221_haicthe163677_FinalProject.Pages.Dashboard.DetailsModel

@{
    Layout = "~/Pages/Shared/_LayoutDashboard.cshtml";

    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Desciption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Desciption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/img/product/@Model.Product.Image" alt="" width="250px" height="250px" />
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Product?.ProductId">Edit</a> |
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
